.videoPlayer {
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: background-color, opacity 200ms ease-in, box-shadow,
    transform 160ms ease-out 200ms;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 6px 6px 1px var(--color-shadow);
}

.videoPlayerActive {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 4px 16px 4px var(--color-shadow2);
  background-color: rgba(33, 33, 33, 0.98);
}

.videoPlayer video {
  height: calc(100% - 32px);
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.videoPlayerBody {
  padding: 4px 16px;
  height: 36px;
  box-sizing: border-box;
  border-top: 1px solid var(--color-border);
}

@media (prefers-color-scheme: light) {
  .videoPlayer {
    background-color: #f8f8f8;
  }

  .videoPlayerActive {
    background-color: white;
  }
}
