.home {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home a {
  padding: 16px 16px;
  border-radius: 8px;
  max-width: max-content;
  background-color: #1c1c1c;
}

.home a:hover {
  background-color: #000;
}
